<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
  <h1 class="h3 mb-3 font-weight-normal text-center">Add New Comment to <%= campground.name %></h1>
    <form class="form-signin" action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <label for="inputCommentname" class="sr-only">Comment</label>
      <input id="inputCommentname" class="form-control mb-2" type="text" name="comment[text]" placeholder="Your comment" autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <div class="form-signin">
      <a href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
