<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

            <label for="inputUsername" class="sr-only">Username</label>
            <input class="form-control" type="text" name="username" id="inputUsername" placeholder="username" required autofocus>
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input class="form-control" type="password" name="password" id="inputPassword" placeholder="password" required>
            
            <label for="firstName" class="sr-only">First Name</label>
            <input class="form-control" type="text" name="firstName" id="firstName" placeholder="first name" required>       

            <label for="lastName" class="sr-only">Last Name</label>
            <input class="form-control" type="text" name="lastName" id="lastName" placeholder="last name" required>           

            <label for="email" class="sr-only">E-mail</label>
            <input class="form-control mb-2" type="email" name="email" id="email" placeholder="email" required>
            
            <label for="avatar" class="sr-only">Avatar:</label>
            <input class="form-control" type="text" name="avatar" id="avatar" placeholder="your avatar url">

            <label for="admin" class="sr-only">Administrator:</label>
            <input class="form-control mb-2" type="text" name="admin" id="admin" placeholder="admin credential">
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
        </form>
        <div class="form-signin">
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>
