<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <h1 class="h3 mb-3 font-weight-normal text-center">Create a New Campground</h1>
    <form class="form-signin" action="/campgrounds" method="POST" enctype="multipart/form-data">
      <label for="inputCampname" class="sr-only">Campground name</label>
      <input class="form-control" id="inputCampname" type="text" name="campground[name]" placeholder="name" required autofocus>
      
      <label for="inputCampprice" class="sr-only">Campground price</label>      
      <input class="form-control mb-2" id="inputCampprice" type="number" name="campground[price]" placeholder="price" min="0.01" step="0.01" required>
      
      <label for="inputCampdesc" class="sr-only">Campground description</label>      
      <input class="form-control mb-2" id="inputCampdesc" type="text" name="campground[description]" placeholder="description" required>
      
      <label for="image" class="sr-only">Image link</label>
      <input id="image" class="form-control mb-2" type="text" name="campground[image]" placeholder="image url">
      

      <p class="text-center">Or chose one or more of your own images.</p>

      <label for="img" class="sr-only">Image</label>
      <input class="mb-2" id="img" type="file" name="campground[image]" accept="image/*" multiple="">
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <div class="form-signin">
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
